.products{
    width: 100%;
    display: flex;
}

.products ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 15px 25px;
}

img{
  max-width: 250px;
}

p{
  margin:7px 0 ;
}

.products li{
  max-width: 250px;
  text-align: center;
  background-color: #1f1f1f;
  border: 1px solid #cccccc55;
  border-radius: 0 0 15px 15px ;
}

.description{
  text-overflow: ellipsis;

}

@media (max-width: 425px){
  .products li {
    max-width: 150px;
  }
  .imagen{
    max-width: 150px;
  }

}